@import url('../../reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Nanum+Myeongjo&display=swap');

.hero {
    display: flex;
    flex-direction: column;
    margin-left: 367px;
}



.sub-title_newsletter {
    width: 181px;
    height: 27px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    
    color: #202020;
    
    opacity: 0.5;
}

.title_newsletter {
    width: 375px;
    height: 188px;

    font-family: 'Elsie Swash Caps';
    font-style: normal;
    font-weight: 900;
    font-size: 82px;
    line-height: 94px;

    color: #202020;
}

.text_newsletter {
    width: 481px;
    height: 99px;

    margin-bottom: 37px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


    color: #202020;

    opacity: 0.5;

}

.campo {
    display: flex;
    flex-direction: row;
    width: 585px;
    height: 75px;

    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06)
}

.campo_assinar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    width: 194px;
    height: 75px;

    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #FFFFFF;
    border: none;

    background: #FFCB47;
    box-shadow: 10px 10px 30px rgba(255, 203, 71, 0.3);
}

.campo_assinar:active{
    border: 1px solid rgba(0, 0, 0, 0.178);
}

.campo_email {
    padding-left: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #202020;

    border: none;
    width: 391px;
}

.campo_email::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #202020;

    opacity: 0.3;
}


.campo_imagem {
    display: flex;
    position: absolute;
  
    height: 16px;
    width: 16px;

    margin-left: 12px;
    margin-top: 30px;
}

.imagens-background {
    position: absolute;
    
}

.background-arvore {
    position: relative;
    z-index: -1;
    left: 740px;
    top: -650px;

}


.background-amarelo {
    position: relative;
    z-index: -2;
    left: 182px;
    bottom: 970px;
}