.cointainer-infos {
    display: flex;
    flex-direction: row;
    margin: 0 400px;
    margin-top: 228px;
    gap: 21px;
}

.infos-imagem {
    width: 585px;
    height: 440px;
}

.infos-subTitle {
    margin-top: 58px;
    margin-bottom: 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    color: #202020;

    opacity: 0.5;
 }

 .infos-title {
    margin-bottom: 32px;

    font-family: 'Elsie Swash Caps';
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 48px;

    color: #202020;
 }


 .card-info {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 32px;
}

.card-info h2  {
    align-self: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    color: #202020;

    opacity: 0.5;
}